body{
   background-color: wheat;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.first{
    display: flex;
    justify-content: center;
}

h1{
  
    font-size: 50px;
    font-family: 'Indie Flower', 'cursive';
}

.logo{
    width: 20px;
    height: 20px;
}

.text{
   
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.logo-box{
    text-align: center;
}

.img-logo{
    border-radius:8px;
    margin-right: 30px;
    margin-left: 30px;
}

.big-box{
    display: flex;
    justify-content: center;
    justify-content:space-around;
}

.salom{
    width: 500px;
    height: 500px;
}